/* Estilo geral para o formulário */
.livro-form {
  padding: 20px;
  background-color: #f9f9f9; /* Cor de fundo clara */
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 600px; /* Largura máxima do formulário */
  margin: auto; /* Centraliza o formulário */
}

/* Estilo para o formulário */
form {
  display: flex;
  flex-direction: column;
}

/* Estilo para os labels */
label {
  margin-top: 15px;
  font-weight: bold;
  color: #333; /* Cor do texto */
}

/* Estilo para os inputs */
input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd; /* Borda leve */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  transition: border-color 0.3s ease; /* Transição suave na borda */
}

input:focus {
  border-color: #007bff; /* Cor da borda quando em foco */
  outline: none; /* Remove o contorno padrão do navegador */
}

/* Estilo para o botão */
button {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 4px; /* Cantos arredondados */
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de mãozinha */
  transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
}

button:hover {
  background-color: #0056b3; /* Cor de fundo do botão quando em hover */
}

/* Estilo para o elemento <h2> */
h2 {
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  color: #333; /* Cor do texto */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  padding-bottom: 10px; /* Espaçamento abaixo do texto */
  border-bottom: 2px solid #007bff; /* Linha abaixo do título com a mesma cor do cabeçalho da tabela */
  text-transform: uppercase; /* Transformar texto em maiúsculas */
  letter-spacing: 1px; /* Espaçamento entre letras */
  font-family: 'Arial', sans-serif; /* Fonte moderna */
}

